* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-especial: "Special Gothic Expanded One", sans-serif;
    --fonte-links: "Montserrat", sans-serif;
    --fonte-textos:"Gloria Hallelujah", cursive;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-especial);
    font-size: 6.5vw;
}

header p {
    padding-bottom: 50px;font-family: var(--fonte-links);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-textos);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(50, 50, 50);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

section.imagem > p {
    display: inline-block;
    padding-right: 40px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.529);
    text-shadow: 2px 1px 0px black;
}

section#img01 {
    background-image: url(imgs/flores.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section#img02 {
    background-image: url(imgs/cartas.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 2.5vw;
}